"*":
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.45"
  "atom-beautify":
    _analyticsUserId: "XXX"
    analytics: false
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  dartlang:
    sdkLocation: "/usr/local/opt/dart/libexec"
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  "linter-eslint":
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
